@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body {
    font-family: ar-font;
    direction: rtl;
}
/* Start Header */
header {
    background-image: url(../imgs/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*z-index: -3;*/
    position: relative;
}

header .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    /*z-index: -2;*/
    position: relative;
    padding-top: 90px;
    overflow: hidden;
}
header .overlay .images {
    position: absolute;
    bottom: -250px;
    /*z-index: -1;*/
}
header .overlay .images img {
    max-width: 100%;
}

header .overlay .app-icon {
    margin-top: 120px;
    margin-bottom: 50px;
}
header .overlay .text h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
header .overlay .text p {
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 40px;
}
header .overlay .text button {
    margin: 40px 0;
    background-color: #fafafa;
    line-height: 50px;
    position: relative;
}
header .overlay .text button img {
    width: 50px;
    margin-top: -20px;
}
header .overlay .text button .fa-apple {
    font-size: 50px;
} 
header .overlay .text button p {
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    font-family: ar-font;
    color: #232323;
}
header .overlay .text button p span {
    font-size: 18px;
}
header .overlay .text button:last-child {
    margin-right: 20px;
}
/* End Header */

/* Start section.feature */
section.feature {
    padding: 80px 0;
}
section.feature .features {
    margin-top: 90px;
}
section.feature .features .media {
    margin-bottom: 70px;
}
section.feature .features i {
    background-color: #ef473a;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 3px;
}
section.feature .features h5 {
    font-size: 24px;
    color: #080808;
}
section.feature .features p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
    text-align: right;
}
section.feature .mobile-image img {
    width: 70%;
    margin: 0 auto;
    display: block;
}
/* End section.features */

/* Start section.choose */
section.choose {
    padding-top: 45px;
}
section.choose .features {
    padding-top: 80px;
}
section.choose .features .media {
    margin-bottom: 65px;
}
section.choose .features .media h5 {
    color: #141414;
    font-size: 24px;
    margin-bottom: 15px;
}
section.choose .features .media p {
    color: #757474;
    font-size: 15px;

}
section.choose .mobile-image img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
/* End section.choose */

/* Start section.slider */
section.slider {
    padding: 75px 0 60px 0;
}
section.slider .title h3 {
    font-size: 36px;
    color: #141414;
    margin-bottom: 50px;
}
section.slider .slide .carousel-indicators {
    bottom: -60px;
    padding: 0;
}
section.slider .carousel-indicators button {
    max-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ef473a;
  }
section.slider .carousel-indicators button.active {
    background-color: #ef473a; 
  }
section.slider .slide .carousel-inner {
    width: 80%;
    margin: 0 auto;
}
section.slider .slide .carousel-inner .carousel-item img{
    margin: 0 auto;
    width: 60%;
}
section.slider .carousel-control-next,
section.slider .carousel-control-prev {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 1px solid #ef473a;
  margin-top: 120px;
  opacity: 1;
  background-color: #ef473a ; 
}
/* End section.slider */

/* End section.question */
section.question {
    background-image: url(../imgs/bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section.question .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 55px;
}
section.question .overlay .title h3 {
    color: #fff;
    font-size: 30px;
    padding: 60px 0;
    margin: 0;
}
section.question .overlay .card {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 25px;
    border-radius: 0;
}
section.question .overlay .card a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
}
section.question .overlay .card-header {
    background-color: transparent;
    border-bottom: 0px;
}
section.question .overlay .card-header:hover {
    text-decoration: underline;
}
section.question .overlay .card-header a i {
    position: absolute;
    left: 15px;
    top: 5px;
}
section.question .overlay .card .card-header h5 a[aria-expanded="false"] i:before {
    content: "\f107"; 
}
section.question .overlay .card-block {
    color: #c9c9c9;
    font-size: 15px;
    line-height: 20px;
    padding: 0 1.25rem 1.25rem;
}
/* End section.question */

/*Start footer */
footer {
    background-color: #232323;
}
footer .widget .title {
    margin-bottom: 35px;
    border-bottom: 2px solid #272727;
    position: relative;
}
footer .widget .title::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #ef473a;
    position: absolute;
    right: 0;
    bottom: -2px;
    display: inline-block;
}
footer .widget .title h3 {
    color: #f4f8fb;
    font-size: 24px;
    line-height: 80px;
}
footer .widget .content p {
    color: #757474;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 100px;
}
footer .widget .content ul {
    padding: 0;
}
footer .widget .content ul li {
    margin-right: 5px;
}
footer .widget .content ul.social-links li:first-of-type {
    margin-right: 0;
}
footer .widget .content ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #343637;
    color: #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
}
footer .widget .content ul li a:hover {
    background-color: #ef473a;
}
footer .widget .content ul.tweets li {
    color: #757474;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;    
}
footer .widget .content ul.tweets li:not(:last-child) {
    border-bottom: 2px solid #2a2929;
}
footer .widget .content ul.tweets li i {
    color: #ef473a;
    margin-left: 2px;
}
footer .widget .content input {
    background-color: #2c2b2b;
    color: #c6c6c6;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    width: 90%;
    padding: 10px 15px;
}
footer .widget .content button.submit {
    background-color: #ef473a;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 10px 15px;
}
footer .widget .content form .error {
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
}
footer .copyright::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #282828;
    display: inline-block;
}
footer .copyright p {
    color: #565656;
    font-size: 15px;
    margin: 0;
    padding: 25px 0;
}
/*End footer */


/* Start Responsive */
@media(max-width:1199.5px) and (min-width:991.5px) {
    section.feature {
        padding-bottom: 0;
    }
    section.feature .features {
        margin-top: 0;
    }
}
@media(max-width:991.5px) { 
    section.feature {
        padding-top: 0;
    }
    section.feature .features .media {
        margin-bottom: 50px;
    }
    section.feature .mobile-image img {
        width: 50%;
        margin-top: 20px;
    }
    section.slider .carousel-control-next,
    section.slider .carousel-control-prev {
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin-top: 70px;
    }
}
@media(max-width:991.5px) and (min-width:767.5px) {
    header .overlay .images {
        right: 20px;
    }
    header .overlay .app-icon {
        margin-bottom: 40px;
    }
    header .overlay .text h1 {
        font-size: 27px;
        margin-bottom: 30px;
    }
    header .overlay .text p {
        line-height: 30px;
        margin-bottom: 30px;
    }
    header .overlay .text button {
        margin: 20px 0;
    }
    header .overlay .text button:last-child {
        margin-right: 10px;
    }
    section.choose .mobile-image img {
        width: 60%;
    }
    footer .widget .content ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
@media(max-width:767.5px) {
    header .overlay .text {
        text-align: center;
        margin-bottom: 300px;
    }
    header .overlay .images {
        bottom: -500px;
        right: 10%;
    }
    header .overlay .app-icon {
        margin-top: 0;
        margin-bottom: 30px;
    }
    header .overlay .app-icon img{
        margin: 0 auto;
        display: block;
    }
    header .overlay .text h1 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    header .overlay .text p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    header .overlay .text button {
        margin: 0 0 80px 0;
        line-height: 40px;
    }
    header .overlay .text button img,
    header .overlay .text button .fa-apple {
        width: 40px;
    }
    header .overlay .text button:last-child {
        margin-right: 10px;
    }
    footer .widget .content p {
        margin-bottom: 30px;
    }
    
}
@media(max-width:375.5px) {
    header .overlay .text button {
        margin: 0 0 20px 0;
        line-height: 40px;
    }
    header .overlay .text button:last-child {
        margin-right: 0px;
    }
    header .overlay .text {
        margin-bottom: 400px;
    }
}
@media(max-width:280.5px) {
    header .overlay .text {
        margin-bottom: 250px;
    }
}
/* End Responsive */